@model IlCicerone.Models.Tour
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Partecipants for @Model.TourName</h2>

@Html.Partial("_Partecipants", @Model.Partecipants)

<p>
    <a href="@Url.Action("Create", "Partecipants", new { TourId = Model.TourId })" class="btn btn-success">
        Add New Partecipant
        <span class="glyphicon glyphicon-plus-sign" />
    </a>
</p>
