@model IlCicerone.Models.Partecipant
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <div class='container'>
        <div class='row' style='padding-top:25px; padding-bottom:25px;'>
            <div class='col-md-12'>
                <div id='mainContentWrapper'>
                    <div class="col-md-8 col-md-offset-2">
                        <h2 style="text-align: center;">
                            Review Your Order & Complete Checkout
                        </h2>
                        <hr />
                        <a href="#" class="btn btn-info" style="width: 100%;">Piepilogo Prenotazione</a>
                        <hr />
                        <div class="shopping_cart">
                            @using (Html.BeginForm("Tour", "Home", new { @class = "form-horizontal needs-validation", @id = "payment-form" }, FormMethod.Get))
                            {
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                    Revisione Prenotazione
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="items">
                                                    <div class="col-md-9">
                                                        <table class="table table-striped">
                                                            <tr>
                                                                <td colspan="2">
                                                                    <a class="btn btn-warning btn-sm pull-right"
                                                                       href="http://www.startajobboard.com/"
                                                                       title="Remove Item">X</a>
                                                                    <b>
                                                                        @ViewBag.TourName
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <ul>
                                                                        <li>Numero Partecipanti:</li>
                                                                        <li>Prezzo per Persona:</li>
                                                                    </ul>
                                                                </td>
                                                                <td>
                                                                    <ul>
                                                                        <li>@ViewBag.CountPartecipant Partecipanti</li>
                                                                        <li>@ViewBag.TourPrice Euro</li>
                                                                    </ul>             
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div style="text-align: center;">
                                                            <h3>Prezzo Totale</h3>
                                                            <h3><span style="color:green;">@ViewBag.Total Euro</span></h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <div style="text-align: center; width:100%;">
                                                <a style="width:100%;"
                                                   data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   href="#collapseTwo"
                                                   class=" btn btn-success"
                                                   onclick="$(this).fadeOut(); $('#payInfo').fadeIn();">
                                                    Continue
                                                    to Billing Information»
                                                </a>
                                            </div>
                                        </h4>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                Contact
                                                and Billing Information
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <b>
                                                Help us keep your account safe and secure, please verify your billing
                                                information.
                                            </b>
                                            <form class="needs-validation" novalidate="">
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="firstName">First name</label>
                                                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                                                        <div class="invalid-feedback"> Valid first name is required. </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="lastName">Last name</label>
                                                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                                                        <div class="invalid-feedback"> Valid last name is required. </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="username">Username</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                        </div>
                                                        <input type="text" class="form-control" id="username" placeholder="Username" required="">
                                                        <div class="invalid-feedback" style="width: 100%;"> Your username is required. </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                                                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                                                    <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="address">Address</label>
                                                    <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
                                                    <div class="invalid-feedback"> Please enter your shipping address. </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                                                    <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5 mb-3">
                                                        <label for="country">Country</label>
                                                        <select class="custom-select d-block w-100" id="country" required="">
                                                            <option value="">Choose...</option>
                                                            <option>United States</option>
                                                        </select>
                                                        <div class="invalid-feedback"> Please select a valid country. </div>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <label for="state">State</label>
                                                        <select class="custom-select d-block w-100" id="state" required="">
                                                            <option value="">Choose...</option>
                                                            <option>California</option>
                                                        </select>
                                                        <div class="invalid-feedback"> Please provide a valid state. </div>
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <label for="zip">Zip</label>
                                                        <input type="text" class="form-control" id="zip" placeholder="" required="">
                                                        <div class="invalid-feedback"> Zip code required. </div>
                                                    </div>
                                                </div>
                                                <hr class="mb-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="same-address">
                                                    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="save-info">
                                                    <label class="custom-control-label" for="save-info">Save this information for next time</label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <div style="text-align: center;">
                                                <a data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   href="#collapseThree"
                                                   class=" btn   btn-success" id="payInfo"
                                                   style="width:100%;display: none;" onclick="$(this).fadeOut();
                           document.getElementById('collapseThree').scrollIntoView()">Enter Payment Information »</a>
                                            </div>
                                        </h4>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                <b>Payment Information</b>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <span class='payment-errors'></span>
                                            <fieldset>
                                                <legend>What method would you like to pay with today?</legend>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" for="card-holder-name">
                                                        Name on
                                                        Card
                                                    </label>
                                                    <div class="col-sm-9" style="margin-bottom: 10px;">
                                                        <input type="text" class="form-control" stripe-data="name"
                                                               id="name-on-card" placeholder="Card Holder's Name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" for="card-number">
                                                        Card
                                                        Number
                                                    </label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" stripe-data="number"
                                                               id="card-number" placeholder="Debit/Credit Card Number">
                                                        <br />
                                                        <div>
                                                            <img class="pull-right"
                                                                 src="https://s3.amazonaws.com/hiresnetwork/imgs/cc.png"
                                                                 style="max-width: 250px; padding-bottom: 20px;">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" for="expiry-month">
                                                            Expiration
                                                            Date
                                                        </label>
                                                        <div class="col-sm-9">
                                                            <div class="row">
                                                                <div class="col-xs-3">
                                                                    <select class="form-control"
                                                                            data-stripe="exp-month" id="card-exp-month"
                                                                            style="margin-left:5px;">
                                                                        <option>Month</option>
                                                                        <option value="01">Jan (01)</option>
                                                                        <option value="02">Feb (02)</option>
                                                                        <option value="03">Mar (03)</option>
                                                                        <option value="04">Apr (04)</option>
                                                                        <option value="05">May (05)</option>
                                                                        <option value="06">June (06)</option>
                                                                        <option value="07">July (07)</option>
                                                                        <option value="08">Aug (08)</option>
                                                                        <option value="09">Sep (09)</option>
                                                                        <option value="10">Oct (10)</option>
                                                                        <option value="11">Nov (11)</option>
                                                                        <option value="12">Dec (12)</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-xs-3">
                                                                    <select class="form-control" data-stripe="exp-year"
                                                                            id="card-exp-year">
                                                                        <option value="2016">2016</option>
                                                                        <option value="2017">2017</option>
                                                                        <option value="2018">2018</option>
                                                                        <option value="2019">2019</option>
                                                                        <option value="2020">2020</option>
                                                                        <option value="2021">2021</option>
                                                                        <option value="2022">2022</option>
                                                                        <option value="2023">2023</option>
                                                                        <option value="2024">2024</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" for="expiry-month" style=" text-align: center;">
                                                            Card CVC
                                                        </label>
                                                        <div class="col-sm-9">
                                                            <div class="row">
                                                                <div class="col-xs-3" style="margin: 10px 5px;">
                                                                    <input type="text" class="form-control" stripe-data="cvc"
                                                                           id="card-cvc" placeholder="Security Code">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-offset-3 col-sm-9">
                                                        </div>
                                                    </div>
                                            </fieldset>
                                            <button type="submit" class="btn btn-success btn-lg" style="width:100%;">
                                                Pay
                                                Now
                                            </button>
                                            <br />
                                            <div style="text-align: left;">
                                                <br />
                                                By submiting this order you are agreeing to our <a href="/legal/billing/">
                                                    universal
                                                    billing agreement
                                                </a>, and <a href="/legal/terms/">terms of service</a>.
                                                If you have any questions about our products or services please contact us
                                                before placing this order.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
</main>
<script>
    (function () {
        'use strict'

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation')

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>